﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="appMain">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person List</title>
    <link href="Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body data-ng-controller="homePageViewModel" data-ng-init="init()" style="background-color:green">

    <div class="container"> <!--changed for fix-->
        <h1 class="text-primary">System for KMG</h1>
    </div>

    <div class="row container bs-docs-container">
        
        <p>Selected person: <b>{{ PersonSelected.FirstName }} {{ PersonSelected.LastName }}</b></p>

        <p>Rows count: <input type="text" ng-model="RowsCountLoad" /> <button class="btn btn-primary" ng-click="LoadDatesRefresh()">load</button> 
            <ul class="pagination">
                <li><a href="#" ng-click="loadPersonsBack()">back</a></li>
                <li><a href="#" ng-click="loadPersonsNext()">next</a></li>
            </ul>
        </p>

    </div>

    <div class="row container bs-docs-container">

        <div class="col-md-8 col-xs-12">
            
            <table class="table table-hover"">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody ng-repeat="person in Persons" ng-click="selectPerson(person)">
                    <tr>
                        <td>{{ person.ID }}</td>
                        <td>{{ person.FirstName }}</td>
                        <td>{{ person.LastName }}</td>
                        <td>{{ person.Country }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-2 col-xs-4">
            <h4 class="text-primary">Control Panel</h4>
            <br />
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal1" ng-click="AddPersonClick()">add</button>
            <br />
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal1" ng-click="EditPersonClick()">edit</button>
            <br />
            <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal2" ng-click="DeletePersonClick()">delete</button>
            <br />
        </div>

    </div>



    <!--Modals-->
    <div class="modal fade" id="myModal1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="span_firstName">First Name: </span>
                        <input type="text" class="form-control" placeholder="Here please" aria-describedby="span_firstName" ng-model="PersonOnForm.FirstName" />
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon" id="span_lastName">Last Name: </span>
                        <input type="text" class="form-control" placeholder="Here please" aria-describedby="span_lastName" ng-model="PersonOnForm.LastName" />
                    </div>

                    <br />

                    <div class="input-group">
                        <span class="input-group-addon" id="span_lastName">Country: </span>
                        <select class="form-control" ng-options="item.CountryName for item in Countries track by item.ID" ng-change="inputChanged()" ng-model="CountrySelected" aria-describedby="span_lastName">
                            <!--<option value="0"> <a href="#"> {{ country.CountryName }} </a> </option>-->
                        </select>
                    </div>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="CancelAll()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close
                    </button>

                    <button type="button" class="btn btn-success" ng-click="SubmitChanges()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save changes
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Modal title</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete the person:
                    <br />
                    {{ PersonOnForm.FirstName }} {{ PersonOnForm.LastName }}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="CancelAll()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> No
                    </button>

                    <button type="button" class="btn btn-success" ng-click="SubmitChangesDelete()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Yes
                    </button>

                </div>
            </div>
        </div>
    </div>

    <!---->











    <!-- Scripts -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/App.js"></script>
    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <!---->

</body>
</html>
